*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
#quiz-second,#quiz-third,#again{
    display: none;
}
.main-div0{
    flex-direction: column;
    text-align: center;
    max-width: 35em;
    margin-top: 5em;
    background-color: lightseagreen;
    box-shadow: 0 0 10px darkslategray;
}
.main-div:hover, .main-div3:hover {
    background-color: darkslategray;
    color: white;
}
.main-div{
    display: flex;
}
.main-div1{
    display: flex;
}
.main-div1 > div{
display: flex;
flex-direction: column;
}
.main-div1 span{
    text-transform: capitalize;
    padding: 0.3em 1em;
    font-size: 2em;
}
.main-div h1,.main-div1 h1{
    background-color: rgba(0, 139, 139, 0.205);
    text-align: center;
    padding: 1em 2em;
}
.button-start{
    padding: 1em;
    border: none;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
}
.button-start:hover{
    background-color: darkslategray;
    color: whitesmoke;
}
#result{
    display: none;
    padding: 3em 1.5em;
    box-shadow: 0 0 10px darkslategray;
}
.back-to-main{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    padding: 0 1em 1em 1em;
    transition: background-color 150ms;
}
.back-to-main:hover{
    background-color: lightskyblue;
    text-decoration: underline;
}


@media only screen and (max-width: 650px){
    .main-div0{
        max-width: 25em;
        font-size: 0.8em;
}
}
@media only screen and (max-width: 350px){
    .main-div0{
        max-width: 20em;
        font-size: 0.7em;
}
}