*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
:root{
    --bck-grnd:grey;
}
/* ////////////////////// Start - Header */
header{
    position: relative;
}
header > div{
    box-shadow: 0em 0.1em 0.8em lightgrey !important;
}
header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
header > div > div,nav,form{
    padding:0.7em;
}

.burger, .openbar, .closebar {
    display: none;
}
.logo{
    padding-left: 2em;
    cursor: initial;
}
.logo a{
    text-decoration: none;
    color: black;
}

/* Start - burger-menu */
.menuItem {
    display: block;
    margin: 2em 4em;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
text-decoration: underline;
}

.hamburger {
position: fixed;
z-index: 100;
top: 0.5em;
padding: 0.3em;
border: black solid 1px;
background: white;
cursor: pointer;
}

.closeIcon {
display: none;
}
  
.menu {
position: fixed;
transform: translateX(-100%);
transition: transform 0.17s;
top: -1em;
left: 0;
bottom:-1em;
z-index: 99;
background: grey;
color: white;
list-style: none;
padding-top: 4em;
}
.showMenu {
transform: translateX(0);
}
/* End - burger-menu */


/* Start - Header > nav */


nav #categories-div{
    position: absolute;
    margin: 2.5em 0 0 -1em;
    background-color: var(--bck-grnd);
    padding: 0.05em 0.1em;
    gap: 0.09em;
    box-shadow: 0em 0.1em 0.8em lightgrey;
    z-index: 1000;
}
nav #categories-div > div {
    height: 40em;
    width: 250px;
    background-color: white;
}
nav li {
    list-style: none;
    padding: 0.5em;  
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: black;
}

.categories-div2{
    display: none;
}
.active-links2 {
    display: block;
}
/* End - Header > nav */


/* Start - Header > search */
header form input {
    width: 1000px;
    padding-left: 5em;
    border-radius: 2em;
    height: 3.7em;
    border: solid 1px black;
    background-color: rgb(247, 247, 247);
}
header form input:focus{
    outline: none;
}
header form button {
    position: absolute;
    margin:0.7em ;
    border: none;
    background-color: transparent;
    opacity: 0.6;
    cursor: pointer;
}
header form button:hover{
    opacity: 1;
}
/* End - Header > search */


/* Start - Header > cart */
.cart{
    display: flex;
}
/* End - Header > cart */
/* Start - Header > right-side */
.header-right-side{
    display: flex;
    flex-direction: row;
    gap:0.5em;
    padding-right: 2em;
}
.log-sign, .language{
    border: 1px solid black;
    padding: 0.55em 0.8em;
    opacity: 0.8;
    cursor: pointer;
}
.login:hover, .language:hover{
    background-color: lightgray;
    opacity: 1;
}
.signup{
    background-color: black;
}
.signup a {
    color: white;
    text-decoration: none;
}
.signup:hover{
    opacity: 1;
}
/* End - Header > right-side */
/* Header > Hover Effects */
.packetteaching a, .login a{
    color: black;
    text-decoration: none;
}
nav li:hover, 
nav a:hover, 
#categories:hover, 
.packetteaching a:hover, 
.cart-icon1:hover, 
.cart-icon2:hover{
    color: blueviolet;
    cursor: pointer;
}
.cart-icon1{
    position: absolute;
    z-index: 1;
}
.cart-icon1:hover{
    opacity: 0;
}
/* Header > Hover Effects */

/* End - Header */



/* ////////////////////Start - Main */
.main-container-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Start - Main > section 1 */
    /* Start - Main > section 1 > div1*/

.section1{
    padding: 0 0 3em 0;
}
.main-section1-div1-img-smaller{
    display: none;
}
.main-section1-div1-div{
    position: absolute;
    padding: 0em 2em 1em 1em;
    margin: 3.5em;
    background-color: white;
    box-shadow: 0 0 0.6em lightgrey, 0 0 0.6em lightgrey;
    width: 460px;
}
.main-section1-div1-div-h2{
    padding: 0em 1em 0 0.6em;
    font-size: 2em;
} 
.main-section1-div1-div-p{
    padding: 0 1em 0 1em;
    font-size: 1.2em;
    line-height: 1.4em;
} 
    /* End - Main > section 1 > div1 */

    /* Start - Main > section 1 > div2 */

.main-section1-div2-div1{
    padding: 2em 0 0 2em;
}
.main-section1-links-div{
    padding: 0 2em;
}
.main-section1-links{
    display: inline-block;
    padding: 0 0.7em;
    color: darkslategrey;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
}
.main-section1-links:hover{
    color: black;
}
.main-section1-contents{
    display: none;
    justify-content: center;
}
.main-section1-contents-div .active-contents{
    display: flex;
}
.main-section1-contents1-child{
    padding: 1em 2em;
    max-width: 1275px;
    border: 1px solid lightgray;
}
.main-section1-contents1-child-div-p{
    padding-bottom: 1em;
}
.main-section1-contents1-child-div-a{
    padding: 0.8em 1em;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: 0.8em;
}
.main-section1-contents1-child-div-a:hover{
    background-color: whitesmoke;
}

.main-section1-contents1-child-div2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:0.5em;
    margin: 2em 0;
}
.main-section1-contents1-child-div2-a{
    text-decoration: none;
    color: black;
}
.main-section1-contents1-child-div2-a-div{
    padding: 1em 0;
    max-width: 200px;
    background-color: whitesmoke;
}

.main-section1-contents1-child-div2-a-div img{
    border: 1px solid lightgrey;
    max-width: 200px;
}
.main-section1-contents1-child-div2-a-div h5{
    padding: 0 1em;
}

.main-section1-contents1-child-div2-a:hover  img{
    opacity: 0.5;
}
    /* End - Main > section 1 > div2 */

/* End - Main > section 1 */



/* Start - section 2 */
.section2{
    text-align: center;
    height: 500px;
    background-color: whitesmoke;
}
.section2 > h2{
    padding: 2em 0 1em 0;
}
.carousel{
    position: relative;
    max-width: 1270px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.carousel-image div{
    padding: 1em;
    max-width: 25em;
    background-color: white;
    margin: 10px;
}
.cr1-0{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cr1-0 hr {
    width: 80%;
}
.carousel-image-span1{
    font-weight: bold;
    padding: 0.5em 0;
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 15%;
    transition: background-color 140ms;
}

.cr1-0 a{
    text-decoration: none;
}

.carousel-image-a{
    margin: auto;
    color: black;
    letter-spacing: 0.2em;
    padding: 1em;
    max-width:10em;
    background-color: rgb(215, 183, 247);
    transition: background-color 140ms;
}
.carousel-image-span1:hover, .carousel-image-a:hover{
    background-color:blueviolet;
    color:  whitesmoke;
}

.carousel-track-container{
    height: 100%;
    position: relative;
}
.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 500ms ease-in-out;
}
.carousel-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel-button{
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 250ms;
    padding: 0.6em;
}
.carousel-button:hover{
    transform: scale(1.2);
    transform: translateY(10%);

}

.button-left{
    left: 0;
    z-index: 10;
}
.button-right{
    right: 9px;
    z-index: 10;
}
/* End - section 2 */


/* Start - section 3 */

.section3{
    display: flex;
    justify-content: space-around;
    padding: 3em 0;
}
.main-section3-div-child1-h2{
    padding-left: 2em;
    text-transform: capitalize;
}
.main-section3-div-child2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    max-width: 1340px;
}
.main-section3-div-child2-div-p{
    text-transform: capitalize;
    font-weight: bold;
}
.main-section3-div-child2-div-child {
max-height: 400px;
overflow: hidden;
}
.main-section3-div-child2-div-child img{
    width: 15.8vw;
    min-width: 200px;
}
.main-section3-div-child2-div-a{
    text-decoration: none;
    color: black;
}
.main-section3-div-child2-div-child img:hover{
    transform: scale(1.1);
}
.main-section3-div-child2-responsive{
    display: none;
}
/* End - section 3 */


/* .section4{
    height: 480px;
    background-color: whitesmoke;
} */
.section5{
    height: 320px;
    background-color: whitesmoke;

}
/* .section6{
    height: 480px;
    background-color: whitesmoke;
} */
.section7{
    height: 1060px;
}

/* End - Main */



/* /////////////////////Start - Footer */
footer{
    position:relative;
    bottom: 0;
}
footer * {
    color: white;
    text-decoration: none;
    word-spacing: 0.2em;
    line-height: 1.8em;
}
footer .footer-container{
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: rgba(0, 0, 0, 0.89);
    padding: 2em;
}
footer .upper-footer, footer .lower-footer{
    display: flex;
    justify-content: space-between;
}
footer .footer-links-div{
    display: flex;
    gap:8em;
}
footer .footer-links-divs{
    display: flex;
    flex-direction: column;
}
.footer-links-div a {
    text-transform: capitalize;
    font-size: 0.8em;
}
.footer-links-div a:hover{
    text-decoration: underline;
}
.footer-links-div-responsive{
    display: none;
}
.footer-links-divs-responsive{
    display: none;
}
.footer-lang-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1em;
    gap: 0.5em;
    border: 1px solid white;
    padding: 1em;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
}

.footer-copy-rights{
    font-size: 0.7em;
}
.academy{
    font-size: 1.5em;
}
footer .lower-footer b, .logo a b{
    font-size: 1.2em;
    color:blueviolet;
}
/* End - Footer */