*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
:root{
    --bck-grnd:grey;
}
/* Start - Header */
header{
    box-shadow: 0em 0.1em 0.8em lightgrey;
}
header > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
}
header > div > div,nav,form{
    padding:0.7em;
    /* background-color: red; */
}
.burger, .openbar, .closebar {
    display: none;
}


/* Start - burger-menu */
.menuItem {
    display: block;
    margin: 2em 4em;
    color: white;
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 0.5em;
    padding: 0.3em;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.17s;
    top: -1em;
    left: 0;
    /* right:; */
    bottom: 0;
    z-index: 99;
    background: grey;
    color: white;
    list-style: none;
    padding-top: 4em;
  }
  .showMenu {
    transform: translateX(0);
  }
/* End - burger-menu */


/* Start - Header > nav */
nav #categories-div{
    position: absolute;
    margin: 2.5em 0 0 -1em;
    background-color: var(--bck-grnd);
    padding: 0.05em 0.1em;
    gap: 0.09em;
    box-shadow: 0em 0.1em 0.8em lightgrey;
}
nav #categories-div > div {
    height: 500px;
    width: 250px;
    background-color: white;
}
nav li {
    list-style: none;
    padding: 1em;  
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: black;
}
.categories-div2{
    display: none;
}
.active-links2 {
    display: block;
}
/* End - Header > nav */



/* Start - Header > search */
header form input {
    /* width: clamp(100px, 10em , 1000px); */
    /* width: clamp(20vw, 54vw + 1em, 70vw); */
    /* width: 54vw; */
    padding-left: 5em;
    border-radius: 2em;
    height: 3.3em;
    border: solid 1px black;
    background-color: rgba(226, 226, 226, 0.3);
}
header form input:focus{
    outline: none;
}
header form button {
    position: absolute;
    margin:1em ;
    border: none;
    background-color: transparent;
    opacity: 0.6;
    cursor: pointer;
}
header form button:hover{
    opacity: 1;
}
/* End - Header > search */


/* Start - Header > cart */
.cart{
    display: flex;
}
/* End - Header > cart */

/* End - Header */



/* Start - Main */

/* End - Main */



/* Start - Footer */

/* End - Footer */
